rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /profilFotograflari/veliler/{fileName} {
      allow read: if true;

      allow create, update: if request.auth != null
        && request.resource != null
        && request.resource.size < 5 * 1024 * 1024;

      allow delete: if request.auth != null;
    }

    match /yemekFotograflari/{kresId}/{sinifId}/{fileName} {
      allow read: if true;

      allow create, update: if request.auth != null
        && request.resource != null
        && request.resource.size < 15 * 1024 * 1024;

      allow delete: if request.auth != null;
    }

    match /galeri/{kresId}/yemekFotograflari/{sinifId}/{fileName} {
      allow read: if true;

      allow create, update: if request.auth != null
        && request.resource != null
        && request.resource.size < 15 * 1024 * 1024;

      allow delete: if request.auth != null;
    }

    match /galeri/{kresId}/{galleryId}/{fileName} {
      allow read: if true;

      allow create, update: if request.auth != null
        && request.resource != null
        && request.resource.size < 50 * 1024 * 1024;

      allow delete: if request.auth != null;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
